body::before {
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 58, 158, 0.8)), to(rgba(136, 136, 206, 0.7))), url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
  background-image: linear-gradient(rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #f3f3f3;
  line-height: 1.4;
}

#form_header {
  text-align: center;
}

#form_header h1 {
  font-weight: 500;
  line-height: 1;
}

#form_header p {
  margin-top: 0;
  margin-bottom: 1.25rem;
}

form {
  background-color: rgba(73, 83, 116, 0.6);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

@media (min-width: 576px) {
  #survey_form {
    max-width: 70%;
    min-width: 30%;
  }
}

#survey_form {
  padding: 30px;
}

#survey_form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

#survey_form div label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

#survey_form div .form-control {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 20px;
  max-width: 100%;
  border-radius: 0.35rem;
  background-clip: padding-box;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

#survey_form div .form-control:focus {
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#survey_form div input[type="radio"],
#survey_form div input[type="checkbox"] {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

#survey_form .form-group {
  padding: 0.25rem;
  margin: 0 auto 1.25rem auto;
}

#survey_form input[type="submit"] {
  width: 100%;
  height: 2.3rem;
  color: #f3f3f3;
  background-color: #37af65;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

#survey_form textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
/*# sourceMappingURL=index.css.map */