$--backgroundImage_url: "https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg";
$--color-white: #f3f3f3;
$--color-darkblue: #1b1b32;
$--color-darkblue-alpha: rgba(27, 27, 50, 0.8);
$--color-green: #37af65;

body::before {
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;

    position: fixed;
    background-image: linear-gradient(rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url($--backgroundImage_url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: $--color-white;
    line-height: 1.4;
}

#form_header {
    text-align: center;

    h1 {
        font-weight: 500;
        line-height: 1;
    }

    p {
        margin-top: 0;
        margin-bottom: 1.25rem;
    }
}

form {
    background-color: hsla(226, 23%, 37%, 0.6);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
}

@media (min-width: 576px) {
    #survey_form {
        max-width: 70%;
        min-width: 30%;
    }
}

#survey_form {
    padding: 30px;
    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        label {
            display: flex;
            align-items: center;
            font-size: 1.125rem;
            margin-bottom: 0.5rem;
        }

        .form-control {
            display: inline-block;
            box-sizing: border-box;
            padding: 12px 20px;
            max-width: 100%;
            border-radius: 0.35rem;
            background-clip: padding-box;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .form-control:focus {
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        input[type="radio"],
        input[type="checkbox"] {
            display: inline-block;
            margin-right: 0.625rem;
            min-height: 1.25rem;
            min-width: 1.25rem;
        }
    }

    .form-group {
        padding: 0.25rem;
        margin: 0 auto 1.25rem auto;
    }

    input[type="submit"] {
        width: 100%;
        height: 2.3rem;
        color: $--color-white;
        background-color: $--color-green;
        border: 0;
        border-radius: 2px;
        cursor: pointer;
    }

    textarea {
        min-height: 120px;
        width: 100%;
        padding: 0.625rem;
        resize: vertical;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
}
