$--backgroundImage_url: "https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg";
$--color-white: #f3f3f3;
$--color-darkblue: #1b1b32;
$--color-darkblue-alpha: rgba(27, 27, 50, 0.8);
$--color-green: #37af65;

html {
    height: 100%;
    width: 100%;

    background-image: linear-gradient(rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url($--backgroundImage_url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.4;

    margin: 0;
    color: $--color-white;
}

form {
    background-color: hsla(226, 23%, 37%, 0.6);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
}

#form_header {
    text-align: center;

    h1 {
        font-weight: 500;
        line-height: 1;
    }
}
